@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
#items_container::-webkit-scrollbar,::-webkit-scrollbar{
  height: 0px;
  width: 0px;
}
html,
body {
  font-family: 'Trebuchet MS', sans-serif;
  scroll-behavior: smooth;
  font-size: 85%;
}

body {
  background-color: #00000b;
  color: aqua;
  min-height: 100vh;
  min-height: 100dvh;
  width: 100vw;
  font-size: 1rem;
}
main{
  min-height: calc(100dvh - 129px);
  padding-bottom: 5rem;
}
main section {
  width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
footer{
  border-top: 0.1rem solid #282828;
}

input[type="search"]{
  touch-action: manipulation;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
